@import 'utils/variables';
@import 'utils/reset-styles';
@import 'components/logo';
@import 'components/page-header';
@import 'components/footer';
@import 'components/modal-window';
@import 'components/portfolio';
@import 'components/socials';
@import 'components/other'; 