.header_logo {
  margin-right: auto;
  color: var(--black-txt-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .header_logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 92px;
  }
}

.header_logo:active, .header_logo:focus, .header_logo:hover {
  color: var(--black-txt-color);
}

.logo_txt {
  color: #2196f3;
}
