:root {
    --main-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
    --background-team: #f5f4fa;
    --logo-black: #000000;
    --background-porfolio: #eeeeee;
    --horisontal-line: #ececec;
    --background-footer: #2f303a;
    --main-text-icon: #afb1b8;
    --dark-accent-color: #165f9a;
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  }