:root {
  --main-txt-color: #212121;
  --light-txt-color: #757575;
  --blue-txt-color: #2196f3;
  --black-txt-color: #000000;
  --grey-txt-color: #d9d9d9;
  --social-color: #afb1b8;
  --light-bcg-color: #f5f4fa;
  --white-color: #ffffff;
  --dark-bcg-color: #2f303a;
  --blue-btn-color: #2196f3;
  --border-setup: 1px solid #eeeeee;
  --main-font: roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
